﻿<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Cost Estimate</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=595">
      <meta name="format-detection" content="telephone=no">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
      <link rel="shortcut icon" href="file:///@Model.Images.ImagesPath/favicon.png" type="image/x-icon">
      <!--css styles starts-->
      <style type="text/css">
        /*fonts used*/

         @@font-face {
            font-family: 'AvenirNext-DemiBold';
            src: url('file:///@Model.Images.FontsPath/AvenirNext-DemiBold.eot?dl=0');
            src: url('file:///@Model.Images.FontsPath/AvenirNext-DemiBold.eot?dl=0') format('embedded-opentype'), url('file:///@Model.Images.FontsPath/AvenirNext-DemiBold.woff2?dl=0') format('woff2'), url('file:///@Model.Images.FontsPath/AvenirNext-DemiBold.woff?dl=0') format('woff'), url('file:///@Model.Images.FontsPath/AvenirNext-DemiBold.ttf?dl=0') format('truetype'), url('file:///@Model.Images.FontsPath/AvenirNext-DemiBold.svg?dl=0') format('svg');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
         }

         @@font-face {
            font-family: 'AvenirNext-Medium';
            src: url('file:///@Model.Images.FontsPath/AvenirNext-Medium.eot?dl=0');
            src: url('file:///@Model.Images.FontsPath/AvenirNext-Medium.eot?dl=0') format('embedded-opentype'), url('file:///@Model.Images.FontsPath/AvenirNext-Medium.woff2?dl=0') format('woff2'), url('file:///@Model.Images.FontsPath/AvenirNext-Medium.woff?dl=0') format('woff'), url('file:///@Model.Images.FontsPath/AvenirNext-Medium.ttf?dl=0') format('truetype'), url('file:///@Model.Images.FontsPath/AvenirNext-Regular.svg?dl=0') format('svg');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
         }

         @@font-face {
            font-family: 'AvenirNext-Regular';
            src: url('file:///@Model.Images.FontsPath/AvenirNext-Regular.eot?dl=0');
            src: url('file:///@Model.Images.FontsPath/AvenirNext-Regular.eot?dl=0') format('embedded-opentype'), url('file:///@Model.Images.FontsPath/AvenirNext-Regular.woff2?dl=0') format('woff2'), url('file:///@Model.Images.FontsPath/AvenirNext-Regular.woff?dl=0') format('woff'), url('file:///@Model.Images.FontsPath/AvenirNext-Regular.ttf?dl=0') format('truetype'), url('file:///@Model.Images.FontsPath/AvenirNext-Regular.svg?dl=0') format('svg');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
         }

         /* #General Styles
         ================================================== */

         * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            list-style: none;
         }

         * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
         }

         .eu html,
         body.eu,
         .eu div,
         .eu span,
         .eu a,
         .eu img {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
         }

         html {
            -webkit-text-size-adjust: none;
         }

         .eu a {
            text-decoration: none;
         }

         .eu img {
            border: 0 none;
            max-width: 100%;
            vertical-align: top;
           -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ 
         }

         .eu a {
            outline: none;
            cursor: pointer;
         }

         .eu a:hover {
            text-decoration: none;
         }

         .eu a:focus {
            text-decoration: none !important;
            outline: none !important;
         }

         .eu img {
            max-width: 100%;
            vertical-align: middle;
         }
         
         @@media print {
            body.eu {font-family: 'AvenirNext-Regular';}
            body.eu .bold_font {font-family: 'AvenirNext-DemiBold'; font-weight: 600;}
            body.eu .medium_font {font-family: 'AvenirNext-Medium'; font-weight: 500;}
            body.eu td.bg_td {background-color: #3D494D;-webkit-print-color-adjust: exact;}
         }
      </style>
      <style type="text/css">
         /*STYLE TAGS CONVERTED TO CLASSES*/
         
         body.invoice {
            margin: 0;
            padding: 0;
            
            font-family: 'AvenirNext-Regular';
            font-weight: 400;
            font-size: 16px;
            -webkit-text-size-adjust:none;
            
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;

            display: block;
            
            color: #2C3843;
            background: #ffffff;
         }
         
         table.collapsed {
            width: 100%;
            border-collapse: collapse;
         }
         
         table.one-spaced {         
            width: 100%;
            border-spacing: 1px;
         }
         
         table.invoice {
            margin: 0 auto;
            width: 100%;
         }
         
         td.container {
            padding: 27px 27px 17px;
            margin: 0 auto;
            width: 100%;
            
            background-color: #ffffff;
         }
         
         td.logo {
            padding-bottom: 24px;
         }
         td.logo img {
            max-width: 138px;
         }
         td.header-column {
            width: 33.33%;
            vertical-align: top !important;
            display: table-cell !important;
         }
         .document-title {
            font-size: 22px;
            font-weight: 500;
            font-family: 'AvenirNext-Medium';

            letter-spacing: 0;
            vertical-align: top;

            color: #3D494D;
         }
         .document-tagline {
            font-size: 9px;
            font-weight: 400;

            letter-spacing: 0;
            vertical-align: top;

            color: #3D494D;
         }
         .header-heading {
            font-size: 9px;
            font-weight: 600;
            font-family: 'AvenirNext-DemiBold';

            letter-spacing: 0.2px;
            text-align: justify;
            text-transform: uppercase;
            vertical-align: top;

            color: #3D494D;
         }
         .header-bold {
            padding-bottom: 11px;
            
            font-size: 9px;
            font-weight: 600;
            font-family: 'AvenirNext-DemiBold';
            
            letter-spacing: -0.2px;
            vertical-align: top;
            
            color: #3D494D;
         }
         .header-content {
            padding-bottom: 10px;
            
            font-size: 9px;
            font-weight: 400;

            letter-spacing: -0.18px;
            line-height: 11px;
            vertical-align: top;

            color: #3D494D;
         }
         .header-content-half {
            width: 50%;
         }
         .header-content-section-padding {
            padding-bottom: 14px;
         }
         .header-content-section-padding-half {
            padding-bottom: 7px;
         }
         .account-columns-padding {
            padding: 30px 0 25px;
         }
         .account-column-heading {
            padding: 12px 15px;
            
            font-size: 9px;
            font-weight: 600;
            font-family: 'AvenirNext-DemiBold';
            
            letter-spacing: 0.2px;
            text-align: center;
            text-transform: uppercase;
            
            color: #3D494D;
         }
         .account-column-content {
            padding: 12px 15px;

            font-size: 9px;
            font-weight: 400;
            
            letter-spacing: -0px;
            text-align: center;
            
            color: #FFFFFF;
            background-color: #3D494D;
         }
         .invoice-section-padding {
            padding: 0 20px;
         }
         .invoice-line-heading {
            padding: 10px 0;
            
            font-size: 9px;
            font-weight: 500;
            font-family: 'AvenirNext-Medium';
            
            letter-spacing: 0;
            text-transform: uppercase;
                        
            color: #3D494D;
         }
         .invoice-line-heading-border {
            border-bottom: 1px dashed #3D494D;
         }
         .invoice-line-content {
            padding: 10px 0;
            
            font-size: 9px;
            font-weight: 400;
            
            letter-spacing: 0;
            
            color: #1F2229;
         }
         .invoice-line-border {
            border-bottom: 1px solid #E7E8EC;
         }
         .invoice-total-spacer {
            padding: 30px 0 5px;
            width: 48%;
            vertical-align: top;
         }
         .invoice-total {
            padding: 30px 0 5px;
            width: 52%;
            vertical-align: top;
         }
         .invoice-total-heading {
            padding-bottom: 10px;
            
            font-size: 9px;
            font-weight: 600;
            font-family: 'AvenirNext-DemiBold';

            letter-spacing: 0.2px;
            text-align: justify;
            text-transform: uppercase;
            
            color: #3D494D;
         }
         .invoice-total-content {
            padding-bottom: 10px;

            font-size: 9px;
            font-weight: 400;

            letter-spacing: 0;
            text-align: right;

            color: #1F2229;
         }
         .invoice-total-final {
            font-size: 12px;
            font-weight: 500;
            font-family: 'AvenirNext-Medium';

            letter-spacing: 0;
            text-align: right;
            
            color: #24DAB0;
         }
         .invoice-total-final-section {
            padding: 15px 0;

            border-top: 1px dashed #3D494D;
            border-bottom: 1px dashed #3D494D;
         }
         .optional-note-bold {
            padding: 10px 0;

            font-size: 9px;
            font-weight: 800;
            
            letter-spacing: 0;
            line-height: 11px;

            color: #3D494D;
         }
         .optional-note-regular {
            padding: 0px 0 10px 0;
            font-size: 9px;
            font-weight: 400;

            letter-spacing: 0;
            line-height: 11px;

            color: #3D494D;
         }
         td.bank-details-3rd {
            width: 33.33%;
            vertical-align: top;
         }
         td.bank-details-qtr {
            width: 25%;
            vertical-align: top;
         }
         td.bank-details-half {
            width: 50%;
            vertical-align: top;
         }
         .bank-details-container {
            padding: 98px 20px 14px;
            margin-bottom: 14px;
         }
         .bank-details-heading {
            padding-bottom: 12px;
            
            font-size: 9px;
            font-weight: 600;
            font-family: 'AvenirNext-DemiBold';
            
            letter-spacing: 0.2px;
            text-align: center;
            text-transform: uppercase;
            
            color: #3D494D;            
         }
         .bank-details-heading2 {         
            font-size: 9px;
            font-weight: 500;
            font-family: 'AvenirNext-Medium';

            letter-spacing: -0.18px;
            line-height: 13px;
            
            color: #3D494D;
         }
         .bank-details-content {
            font-size: 9px;
            font-weight: 400;
            font-family: 'AvenirNext-Regular';

            letter-spacing: -0.18px;
            line-height: 13px;
            
            color: #3D494D;
         }
         .bank-details-bold {
            font-size: 9px;
            font-weight: 600;
            font-family: 'AvenirNext-DemiBold';
            
            letter-spacing: -0.18px;
            line-height: 13px;
            
            color: #3D494D;
         }
         .url-footer {
            
            font-size: 9px;
            font-weight: 500;
            font-family: 'AvenirNext-Medium';

            letter-spacing: 0.5px;
            text-align: center;
            
            color: #3D494D;                                    
         }
         .url-footer-border {
            padding: 17px 0 0;
            
            border-top: 1px solid #E7E8EC;
            
            text-align: center;
         }
         .url-footer-padding {
            padding: 0 20px;
         }
         .left-aligned {
            text-align: left;
         }
         .right-aligned {
            text-align: right;
         }
         .center-aligned {
            text-align: center;
         }
      </style>
      <!--css styles ends-->
      <!-- BH -->
      <script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=q3joknpdzx2q232j0h9taw" async="true"></script>
      <!-- BH -->
   </head>
   <body class="eu invoice">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
            <td>
               <table border="0" cellspacing="0" cellpadding="0" class="mobile-shell invoice">
                  <tr>
                     <td class="td container">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td class="logo">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td>
                                          <span class="medium_font document-title">Cost Estimate</span><br/>
                                          <span class="document-tagline">Computer Generated</span>
                                       </td>
                                       <td class="right-aligned"><a href="https://smsportal.com/" target="_blank"><img src="file:///@Model.Images.ImagesPath/smsportal.png" alt=""></a></td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td class="header-column">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td class="bold_font header-heading header-content-section-padding-half">ATTENTION:</td>
                                    </tr>
                                    <tr>
                                       <td class="bold_font header-bold">
                                          @Model.Invoice.ClientRefCode<br>
                                          @if (@Model.Invoice.IsPostPaid)
                                          {
                                          }
                                          else if (@Model.Invoice.IsInternational)
                                          {
                                              <span>ONLINE PURCHASES INTERNATIONAL</span>
                                          }
                                          else
                                          {
                                             <span>ONLINE PURCHASES</span> 
                                          }
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="header-content header-content-section-padding">
                                          @Model.Invoice.ClientBillingDetails.CompanyName<br>
                                          @Model.Invoice.ClientBillingDetails.Address1<br>
                                          @if (!string.IsNullOrEmpty(@Model.Invoice.ClientBillingDetails.Address2))
                                          {
                                          @Model.Invoice.ClientBillingDetails.Address2<br> 
                                          }
                                          @Model.Invoice.ClientBillingDetails.City, @Model.Invoice.ClientBillingDetails.ZipCode<br>
                                          @if (!string.IsNullOrEmpty(@Model.Invoice.ClientBillingDetails.StateProvince))
                                          {
                                          @Model.Invoice.ClientBillingDetails.StateProvince<br> 
                                          }
                                          @if (!string.IsNullOrEmpty(@Model.Invoice.ClientBillingDetails.Country))
                                          {
                                          @Model.Invoice.ClientBillingDetails.Country<br> 
                                          }
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="header-content header-content-section-padding">
                                          VAT/GST No: @Model.Invoice.ClientBillingDetails.VatNumber<br> 
                                          Registration No: @Model.Invoice.ClientBillingDetails.RegistrationNumber
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                              <td class="header-column">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    @if (!@Model.Invoice.IsPostPaid)
                                    {
                                       <tr>
                                          <td class="header-content-section-padding">
                                             <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                   <td class="bold_font header-content-half header-heading">DUE DATE:</td>
                                                   <td class="header-content-half header-content">@Model.Invoice.DueDate.ToString("dd MMM yyyy")</td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    }
                                    else
                                    {
                                       <tr class="header-content-section-padding">
                                          <td>
                                             <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                   <td class="bold_font header-content-half header-heading">PERIOD:</td>
                                                   <td class="header-content-half header-content">
                                                      @Model.Invoice.PeriodBilledFromDate.ToString("dd MMM yyyy") - @Model.Invoice.PeriodBilledToDate.ToString("dd MMM yyyy")<br>
                                                      @Model.Invoice.PeriodBilledDescription
                                                   </td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    }
                                    <tr>
                                       <td class="header-content-section-padding">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="bold_font header-content-half header-heading">CURRENCY:</td>
                                                <td class="header-content-half header-content">@Model.Invoice.Currency</td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                    @if (!string.IsNullOrEmpty(@Model.Invoice.ConversionRate))
                                    {
                                       <tr>
                                          <td class="header-content-section-padding">
                                             <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                   <td class="bold_font header-content-half header-heading">CONVERSION RATE:</td>
                                                   <td class="header-content-half header-content">@Model.Invoice.ConversionRate</td>
                                                </tr>
                                             </table>
                                          </td>
                                       </tr>
                                    }
                                 </table>
                              </td>
                              <td class="header-column right-aligned">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td class="bold_font header-heading right-aligned">SMSPORTAL (PTY) LTD</td>
                                    </tr>
                                    <tr>
                                       <td class="header-content header-content-section-padding">Registration No.  2009/008598/07<br>VAT No.  4670210766</td>
                                    </tr>
                                    <tr>
                                       <td class="header-content header-content-section-padding">4th Floor, West Tower<br> Canal Walk, Century Boulevard<br> Milnerton<br> 7441</td>
                                    </tr>
                                    <tr>
                                       <td class="header-content header-content-section-padding">+27 (0) 86 111 2021<br>info@@smsportal.com</td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td class="account-columns-padding">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="one-spaced">
                                    <thead>
                                       <tr>
                                          <th class="bold_font account-column-heading">USER ACCOUNT</th>
                                          <th class="bold_font account-column-heading">DATE</th>
                                          <th class="bold_font account-column-heading">ORDER NO</th>
                                          <th class="bold_font account-column-heading">COST ESTIMATE NO</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                          <td class="bg_td account-column-content">@Model.Invoice.CustomerRefCode</td>
                                          <td class="bg_td account-column-content">@Model.Invoice.CreatedDate.ToString("dd MMM yyyy")</td>
                                          <td class="bg_td account-column-content">@Model.Invoice.OrderNumber</td>
                                          <td class="bg_td account-column-content">@Model.Invoice.ReferenceNumber</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </table>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td class="invoice-section-padding">
                                 <table class="collapsed" width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <thead>
                                       <tr class="invoice-line-heading-border">
                                          <th class="medium_font invoice-line-heading left-aligned">ITEM DESCRIPTION</th>
                                          <th class="medium_font invoice-line-heading left-aligned">QUANTITY</th>
                                          <th class="medium_font invoice-line-heading left-aligned">RATE</th>
                                          <th class="medium_font invoice-line-heading right-aligned">TOTAL</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.Invoice.LineItems)
                                    {
                                       if (item.Quantity > 0 && item.Price > 0)
                                       {
                                          if (!string.IsNullOrEmpty(@item.OptionalNote))
                                          {
                                             <tr>
                                                <td class="invoice-line-content left-aligned">@item.Description</td>
                                                <td class="invoice-line-content left-aligned">@item.Quantity.ToString("#,##0")</td>
                                                <td class="invoice-line-content left-aligned">@item.Price.ToString("#,##0.0000")</td>
                                                <td class="invoice-line-content right-aligned">@item.Total.ToString("#,##0.00")</td>
                                             </tr>
                                          }
                                          else
                                          {
                                             <tr class="invoice-line-border">
                                                <td class="invoice-line-content left-aligned">@item.Description</td>
                                                <td class="invoice-line-content left-aligned">@item.Quantity.ToString("#,##0")</td>
                                                <td class="invoice-line-content left-aligned">@item.Price.ToString("#,##0.0000")</td>
                                                <td class="invoice-line-content right-aligned">@item.Total.ToString("#,##0.00")</td>
                                             </tr>
                                          }
                                       }
                                       if (!string.IsNullOrEmpty(@item.OptionalNote))
                                       {
                                          if (item.Quantity > 0 && item.Price > 0)
                                          {
                                             <tr class="invoice-line-border">
                                                <td colspan="4" class="optional-note-regular">@item.OptionalNote</td>
                                             </tr>
                                          }
                                          else
                                          {
                                             <tr class="invoice-line-border">
                                                <td colspan="4" class="optional-note-bold">@item.OptionalNote</td>
                                             </tr>
                                          }
                                       }
                                    }
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                           <td class="invoice-section-padding">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                    <td class="invoice-total-spacer"></td>
                                    <td class="invoice-total">
                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tr>
                                             <td class="bold_font invoice-total-heading">TOTAL (EX. TAX)</td>
                                             <td class="invoice-total-content">@Model.Invoice.SubTotal.ToString("#,##0.00") @Model.Invoice.Currency</td>
                                          </tr>
                                          <tr>
                                             <td class="bold_font invoice-total-heading">TAX</td>
                                             <td class="invoice-total-content">@Model.Invoice.TaxValue.ToString("#,##0.00") @Model.Invoice.Currency</td>
                                          </tr>
                                          <tr>
                                             <td class="invoice-total-final-section" colspan="2">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                   <tr>
                                                      <td class="bold_font header-heading">TOTAL (INC. TAX)</td>
                                                      <td class="medium_font invoice-total-final">@Model.Invoice.Total.ToString("#,##0.00") @Model.Invoice.Currency</td>
                                                   </tr>
                                                </table>
                                             </td>
                                          </tr>
                                       </table>
                                    </td>
                                 </tr>
                              </table>
                           </td>
                        </tr>
                     </table>
                     @if (@Model.Invoice.IsInternational)
                     {
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td class="bank-details-container">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td class="bold_font bank-details-heading">BANKING DETAILS</td>
                                    </tr>
                                 </table>
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td class="bank-details-qtr left-aligned">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="medium_font bank-details-heading2 left-aligned">Bank Name: <span class="bank-details-content">ABSA</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 left-aligned">Account Name: <span class="bank-details-content">SMSPortal (Pty) Ltd</span></td>
                                             </tr>
                                          </table>
                                       </td>
                                       <td class="bank-details-half center-aligned">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="medium_font bank-details-heading2 center-aligned">Account Type: <span class="bank-details-content">Cheque</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 center-aligned">Account No: <span class="bank-details-content">248 161 EUR 105 701</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 center-aligned">SWIFT Address: <span class="bank-details-content">ABSAZA JJ</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 center-aligned">Bank Address: <span class="bank-details-content"> ABSA Towers North, 180 Commissioner St, JHB 2001 South Africa</span></td>
                                             </tr>
                                          </table>
                                       </td>
                                       <td class="bank-details-qtr right-aligned">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="medium_font bank-details-heading2 right-aligned">Branch: <span class="bank-details-content">Newton Park (632005)</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 right-aligned">Payment Reference: <strong class="bold_font bank-details-bold right-aligned">@Model.Invoice.CustomerRefCode</strong></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     }
                     else
                     {
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td class="bank-details-container">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td class="bold_font bank-details-heading">BANKING DETAILS</td>
                                    </tr>
                                 </table>
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td class="bank-details-3rd left-aligned">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="medium_font bank-details-heading2 left-aligned">Bank Name: <span class="bank-details-content">ABSA</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 left-aligned">Account Name: <span class="bank-details-content">SMSPortal (Pty) Ltd</span></td>
                                             </tr>
                                          </table>
                                       </td>
                                       <td class="bank-details-3rd center-aligned">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="medium_font bank-details-heading2 center-aligned">Account Type: <span class="bank-details-content">Cheque</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 center-aligned">Account No: <span class="bank-details-content">405 7661 851</span></td>
                                             </tr>
                                          </table>
                                       </td>
                                       <td class="bank-details-3rd right-aligned">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="medium_font bank-details-heading2 right-aligned">Branch: <span class="bank-details-content">Newton Park (632005)</span></td>
                                             </tr>
                                             <tr>
                                                <td class="medium_font bank-details-heading2 right-aligned">Payment Reference: <strong class="bold_font bank-details-bold right-aligned">@Model.Invoice.CustomerRefCode</strong></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     }
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                           <tr>
                              <td class="url-footer-padding">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td class="url-footer-border">
                                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td class="medium_font url-footer"><a href="https://smsportal.com/" target="_blank" class="url-footer">www.smsportal.com</a></td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>