﻿<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Invoice</title>
    <style>
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            line-height: 5px;
        }

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 28px;
            color: #3e464f;
            line-height: 30px;
        }

        h2 {
            color: #404040;
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 12px;
        }

        h3 {
            font-weight: bold;
            line-height: 12px;
            display: inline-block;
            margin-top: 1px;
            margin-bottom: 1px;
            font-size: 12px;
        }

        h4 {
            font-weight: bold;
            line-height: 10px;
            display: inline-block;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-bottom: 0px;
            font-size: 10px;
        }

        .banking h3,
        .addressrow h3 {
            font-size: 12px;
        }

        strong {
            display: inline;
            font-size: 1.2em;
        }

        p {
            display: inline;
            color: #9090a0;
            font-size: 10px;
        }

        .optionalnote {
            display: inline;
            color: #9090a0;
            font-size: 10px;
        }
        
        .boldnote {
            display: inline;
            font-size: 10px;
            font-weight: bold;
        }

        table {
            line-height: 14px;
            width: 100%;
        }

            table.main {
                width: 90%;
                margin: 0 5%;
            }

                table.main.lineitems {
                    font-size: 10px;
                    line-height: 9px;
                }

                table.main.title {
                    font-size: 12px;
                    border-spacing: 5px;
                }

                    table.main.title th {
                        text-align: left;
                    }

                    table.main.title tr td {
                        border: 2px solid #000000;
                        border-radius: 7px;
                        padding: 3px;
                        background-color: #ffffff;
                        text-align: center
                    }

        td {
            vertical-align: top;
        }

        .left {
            text-align: left;
        }

        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .footertotal {
            border-top: 1px dotted #909090;
        }

        .width10 {
            width: 10%;
        }

        .width15 {
            width: 15%;
        }

        .width20 {
            width: 20%;
        }

        .width25 {
            width: 25%;
        }

        .width30 {
            width: 30%;
        }

        .width35 {
            width: 35%;
        }

        .width45 {
            width: 45%;
        }

        .width65 {
            width: 65%;
        }

        .bold {
            font-weight: bold;
        }

        .underline {
            border-bottom: 1px dotted #909090;
            margin-top: 0px;
            margin-top: 0px;
        }

        table.main.banking {
            font-size: 10px;
        }

            table.main.banking th,
            table.main.banking td {
                padding-left: 10px;
            }


        .addressrow p {
            font-size: 12px;
        }
    </style>
</head>
<body>
    <table class="main">
        <tr>
            <td colspan="1" width="48%">
                <img src="file:///@Model.Images.CompanyHeaderPath" alt="SMSPortal" style="width:80%" />
            </td>
            <td class="spacer" width="4%"></td>
            <td colspan="1" width="48%" style="padding-top:21px">
                <h1>Tax Invoice</h1>
                <h1>Computer Generated</h1>
            </td>
        </tr>
        <tr class="addressrow">
            <td class="content" width="48%">
                <h3>SMSPortal (Pty) Ltd</h3><br />
                <p>4th Floor, West Tower</p><br />
                <p>Canal Walk, Century Boulevard</p><br />
                <p>Milnerton 7441</p><br />
                <p>Registration No. 2009/008598/07</p><br />
                <p>VAT Number: 4670210766</p><br />
            </td>
            <td class="spacer" width="4%"></td>
            <td class="content" width="48%">
                <table>
                    <tr>
                        <td><h3>Telephone</h3></td>
                        <td>
                            <p>+27 (0) 86 111 2021 (South Africa)</p>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>Email:</h3></td>
                        <td><p>info@smsportal.com</p></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <h3>To:</h3>
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr class="addressrow">
            <td>
                <h3>@Model.Invoice.ClientRefCode</h3><br />

                @if (@Model.Invoice.IsPostPaid)
                {

                }
                else if (@Model.Invoice.IsInternational)
                {
                <h3>Online Purchases International</h3><br />
                }
                else
                {
                <h3>Online Purchases</h3><br />
                }

                <p>@Model.Invoice.ClientBillingDetails.CompanyName</p><br />
                <p>@Model.Invoice.ClientBillingDetails.Address1</p><br />

                @if (!string.IsNullOrEmpty(@Model.Invoice.ClientBillingDetails.Address2))
                {
                <p>@Model.Invoice.ClientBillingDetails.Address2</p><br />
                }

                <p>@Model.Invoice.ClientBillingDetails.City</p><br />
                <p>@Model.Invoice.ClientBillingDetails.StateProvince</p><br/> 
                <p>@Model.Invoice.ClientBillingDetails.ZipCode</p><br />
                <p>@Model.Invoice.ClientBillingDetails.Country</p><br />
                @if (!string.IsNullOrEmpty(@Model.Invoice.ClientBillingDetails.VatNumber))
                {
                <p>VAT/GST Number: @Model.Invoice.ClientBillingDetails.VatNumber</p><br />
                }
                @if (!string.IsNullOrEmpty(@Model.Invoice.ClientBillingDetails.RegistrationNumber))
                {
                <p>Registration No: @Model.Invoice.ClientBillingDetails.RegistrationNumber</p><br />
                }
            </td>
            <td></td>
            <td>
                <table style="height:100%">
                    @if (!@Model.Invoice.IsPostPaid)
                    {
                    <tr>
                        <td width="25%">
                            <h3>Due Date</h3>
                        </td>
                        <td>
                            <p>@Model.Invoice.DueDate.ToString("dd MMM yyyy")</p>
                        </td>
                    </tr>
                    }
                    <tr>
                        <td width="25%">
                            <h3>Currency</h3>
                        </td>
                        <td>
                            <p>@Model.Invoice.Currency</p>
                        </td>
                    </tr>

                    @if (!string.IsNullOrEmpty(@Model.Invoice.ConversionRate))
                    {
                    <tr>
                        <td width="50%"><h3>Conversion Rate</h3></td>
                        <td><p>@Model.Invoice.ConversionRate</p></td>
                    </tr>
                    }

                    @if (@Model.Invoice.ShowBillingPeriod)
                    {
                    <tr>
                        <td width="50%"><h3>Period</h3></td>
                        <td><p>@Model.Invoice.PeriodBilledFromDate.ToString("dd MMM yyyy") - @Model.Invoice.PeriodBilledToDate.ToString("dd MMM yyyy")</p></td>
                    </tr>
                    <tr>
                        <td width="50%">&nbsp;</td>
                        <td><p>@Model.Invoice.PeriodBilledDescription</p></td>
                    </tr>
                    }

                </table>
            </td>
            <td></td>
        </tr>
    </table>

    <table class="main title">
        <tr>
            <th style="width: 10%;text-align: center">User Account</th>
            <th style="width: 10%;text-align: center">Date</th>
            <th style="width: 20%;text-align: center">Order No</th>
            <th style="width: 15%;text-align: center">Invoice No</th>
        </tr>
        <tr style="font-size: 10px;">
            <td>@Model.Invoice.CustomerRefCode</td>
            <td>@Model.Invoice.CreatedDate.ToString("dd MMM yyyy")</td>
            <td>@Model.Invoice.OrderNumber</td>
            <td>@Model.Invoice.ReferenceNumber</td>
        </tr>
    </table>

    <table class="main lineitems">
        <thead>
            <tr>
                <th width="50%" class="left">Item Description</th>
                <th width="20%" class="right"></th>
                <th width="10%" class="right">Quantity</th>
                <th width="10%" class="right">Price</th>
                <th width="10%" class="right">Line Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5" class="footertotal"></td>
            </tr>
            @foreach (var item in Model.Invoice.LineItems)
            {
                if (item.Quantity > 0 && item.Price > 0)
                {
                    <tr>
                        <td class="left" colspan="2">@item.Description</td>
                        <td class="right">@item.Quantity.ToString("#,##")</td>
                        <td class="right">@item.Price.ToString("#,##0.0000")</td>
                        <td class="right">@item.Total.ToString("#,##0.00")</td>
                    </tr>
                }
                if (!System.String.IsNullOrEmpty(@item.OptionalNote))
                {
                    <tr>
                        @if (item.Quantity > 0 && item.Price > 0)
                        {
                            <td class="boldnote" colspan="5"><i>@item.OptionalNote</i></td>
                        }
                        else
                        {
                            <td class="optionalnote" colspan="5"><i>@item.OptionalNote</i></td>
                        }
                    </tr>
                }
            }
        </tbody>
        <tfoot style="display: table-row-group">
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" class="right">
                    Total (Ex. Tax)
                </td>
                <td class="right">
                    @Model.Invoice.SubTotal.ToString("#,##0.00")
                </td>
            </tr>
            <tr>
                <td colspan="4" class="right">
                    Tax
                </td>
                <td class="right">
                    @Model.Invoice.TaxValue.ToString("#,##0.00")
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td colspan="2" class="footertotal"></td>
            </tr>
            <tr>

                <td colspan="4" class="right">
                    Total (Inc. Tax)
                </td>
                <td class="right">
                    @Model.Invoice.Total.ToString("#,##0.00")
                </td>
            </tr>
        </tfoot>
    </table>
    @if (@Model.Invoice.IsInternational)
    {
    <table class="main banking" style="page-break-inside: avoid">
        <thead>
            <tr>
                <td colspan="4"><h2>Banking Details</h2></td>
            </tr>
            <tr>
                <th class="width25"></th>
                <th class="width25"></th>
                <th class="width25"></th>
                <th class="width25"></th>
            </tr>
            <tr>
                <td colspan="4" class="underline"></td>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td><h4>Account Name</h4></td>
                <td><p>SMSPORTAL (PTY) LTD</p></td>
                <td><h4>SWIFT Address</h4></td>
                <td><p>ABSAZAJJ</p></td>
            </tr>
            <tr>
                <td><h4>Account No.</h4></td>
                <td rowspan="5">
                    <p>EUR: 248161EUR105701</p><br />
                </td>
                <td><h4>Branch Code</h4></td>
                <td><p>632005</p></td>
            </tr>
            <tr>
                <td></td>
                <!--rowspanned 4-->
                <td><h4>Bank Name</h4></td>
                <td><p>ABSA</p></td>
            </tr>
            <tr>
                <td></td>
                <!--rowspanned 4-->
                <td><h4>Bank Address</h4></td>
                <td>
                    <p>ABSA Towers North<br/> 
                        180 Commissioner St<br/>
                        JHB 2001<br/>
                        Republic of South Africa</p>
                </td>
            </tr>
            <tr>
                <td></td>
                <!--rowspanned 5-->
                <td><h4>Payment Reference</h4></td>
                <td><p>@Model.Invoice.CustomerRefCode</p></td>
            </tr>
        <tbody>
    </table>
    }
    else
    {
    <table class="main banking" style="page-break-inside: avoid">
        <thead>
            <tr>
                <td colspan="4"><h2>Banking Details</h2></td>
            </tr>
            <tr>
                <th class="width25"></th>
                <th class="width25"></th>
                <th class="width25"></th>
                <th class="width25"></th>
            </tr>
            <tr>
                <td colspan="4" class="underline"></td>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td><h4>Bank Name</h4></td>
                <td><p>ABSA</p></td>
                <td><h4>Account Type</h4></td>
                <td><p>Cheque</p></td>

            </tr>
            <tr>
                <td><h4>Account Name</h4></td>
                <td><p>SMSPortal (Pty) Ltd</p></td>
                <td><h4>Branch</h4></td>
                <td><p>Newton Park (632005)</p></td>
            </tr>
            <tr>
                <td><h4>Account Nr.</h4></td>
                <td><p>4057661851<p></td>
                <!--rowspanned 5-->
                <td><h4>Payment Reference</h4></td>
                <td><p>@Model.Invoice.CustomerRefCode</p></td>
            </tr>
        </tbody>
    </table>
    }
</body>
</html>